.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 40px;
}

.proimage {
    border-radius: 90px;
    height: 150px;
    width: 150px;
    margin-right: 10px; /* Add margin to the right */
}

.nav-items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 20px; 
}

.nav-link {
    margin-bottom: 10px; /* Add margin between nav links */
    color: white;
}
.nav-link:hover{
    color: orchid;
    cursor: pointer;
}

.first {
    margin-top: 20px; /* Adjust margin as needed */
}
.second{
    margin-top: 150px;
}
.nav-link .active{
    color: orchid;
    border-left: 5px solid orchid;
    padding-left: 10px;
    text-decoration: none;
}
@media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .proimage {
      margin-right: 0;
    }
  
    .nav-items {
      margin: 0;
    }
  
    .nav-link {
      margin: 5px 0;
    }
  }